.program-layout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
}

.card{
    margin: 20px;
    border: 2px black solid;
}

.img-card{
    width: 100%;
}

.card-body{
   padding: 10px;
}
